<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
        body {
            font-family: 'Lora', serif;
        }
    </style>
    <script>
      console.log(Swal); // Log to console to check if SweetAlert2 is loaded
  </script>
</head>

<body class="px-5">
    <div class="border-bottom py-2 bg-light ">
        <div class="d-flex justify-content-between">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <span
                    class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>info@somedomain.com</strong></span>
                <span class="me-3 d-none"><i class="fa-solid fa-phone me-1 text-warning"></i>
                    <strong>1-800-123-1234</strong></span>
            </div>
            {% if messages %}
            <div id="messages-container">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {% if message.tags == 'error' %}
                            <strong class="text-danger">Error: {{ message }}</strong>
                        {% else %}
                            {{ message }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Set a timeout to hide the messages after 5000 milliseconds (5 seconds)
                    setTimeout(function () {
                        var messagesContainer = document.getElementById('messages-container');
                        messagesContainer.style.display = 'none';
                    }, 5000);
                });
            </script>
        {% endif %}
         

            {% if user.is_authenticated %}
            <div class="dropdown z-3 d-flex flex-row">
                <span class="me-2">{{ user.email }}</span>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {% if user.account.profile_image %}
                    <img src="{{ user.account.profile_image.url }}" class="rounded-circle" height="30" width="30"
                        alt="User Image">
                    {% else %}
                    <img src="{% static 'image/2.jpg' %}" class="rounded-circle" height="30"
                        width="30" alt="Default Image">
                    {% endif %}
                </a>
                <ul class="dropdown-menu">
                  <form method="post" action="{% url 'logout' %}" id="logout-form">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{% url 'index' %}">
                </form>
                <li><a class="dropdown-item" href="#" onclick="confirmLogout()">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <div>
            <span class="me-3">
                <i class="fa-solid fa-sign-in" aria-hidden="true"></i>
                <a class="text-muted" href="{% url 'register' %}">Create Account</a>

            </span>
          </div>
        
            {% endif %}
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light shadow-sm z-2">
        <div>
                <img src="{% static 'image/bird_2.png' %}" height="40" width="40" class="rounded-circle">
            </a>
        </div>

        <div class="flex-row px-0 justify-content-between px-4">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="mx-auto  d-lg-none d-sm-block d-xs-block">
                <div class="input-group">
                    <span class="border-warning input-group-text bg-warning text-white"><i
                            class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="text" class="form-control border-warning" style="color:#7a7a7a">
                    <button class="btn btn-warning text-white">Search</button>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="ms-auto d-none d-lg-block">
                    <div class="input-group">
                        <span class="border-warning input-group-text bg-warning text-white"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control border-warning" style="color:#7a7a7a">
                        <button class="btn btn-warning text-white">Search</button>
                    </div>
                </div>
                <ul class="navbar-nav ms-auto px-4">
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="#">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="#">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="#">cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="#">Contat Us
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto px-4">
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="#"><i
                                class="fa-solid fa-cart-shopping me-1"></i> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-2 text-uppercase" href="#"><i
                                class="fa-solid fa-circle-user me-1"></i> Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% block main_content %}
        {% endblock %}
    </div>
    <script>
      function confirmLogout() {
        swal({
          title: "Are you sure?",
          text: "You want To logout",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        }).then((result) => {
          if (result) {
            // User confirmed
            swal({
              text: "You are Logged out!",
              icon: "success",
              buttons: false,
              timer: 3500,
            }).then(() => {
              document.getElementById('logout-form').submit();
            });
          } else {
            // User did not confirm
            swal({
              text: "Ok You are still logged In",
              timer: 3500,
              buttons: false,
              
            });
          }
        });
      }
    </script>
    
    
    <!-- Bootstrap JavaScript and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@12"></script>

</body>

</html>
