{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block main_content %}

<body>
    <h2>Login</h2>
    {% if messages %}
    <div id="messages-container">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Set a timeout to hide the messages after 5000 milliseconds (5 seconds)
            setTimeout(function () {
                var messagesContainer = document.getElementById('messages-container');
                messagesContainer.style.display = 'none';
            }, 5000);
        });
    </script>
{% endif %}


    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
{% endblock %}
